@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Cores:
#d45f68
#db6247
#9d8c09
#0074b9
*/

body {
    margin: 0;
    padding: 0;
}

h1, h2, h4, a, label, p, li, button, select {
    font-family: 'Nunito', sans-serif;
}

h1, h2, h4{
   text-align: center;
}

nav {
    width: 100%;
    background-color: #d45f68;
    position: fixed;
    top: 0;
    z-index: 100;
}

nav ul {
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    list-style:none;
    
}

nav a {
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    font-size: 14pt;
}

nav a:hover {
    color: black;
}

#logo-generation {
    width: 100px;
    height: 42,86px;
    margin-left: 50px;
    margin-right: 150px;
}

.p-top-down {
    padding-top: 30px;
    padding-bottom: 15px;
}

.titulo-cor {
    color: #db6247;
    font-size: 20pt;
}

#sobre-generation {
    margin-top: 100px;
}

#container-generation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
    margin-left: 120px;
}

#video-generation {
    margin-right: 25px;
    margin-top: 120px;
}

#texto-generation {
    margin-left: 25px;
    color: #0074b9;
    font-size: 15pt;
    text-align: justify;
}

#container-curso {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
 
#curso {
    margin-right: 100px;
    margin-left: 100px;
    font-size: 14pt;
}

#texto-curso {
    margin-left: 25px;
    color: #0074b9;
    font-size: 15pt;
    text-align: justify;
}

#img-react {
    width: 400px;
    height: 300px;
}

#container-curriculo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#curriculo {
    margin-right: 100px;
    margin-left: 100px;
}

.cor-bloco {
    color: #9d8c09;
    font-size: 14pt;
}

#container-curriculo div {
    border-style: dashed;
    border-color: #9d8c09;
    color:  #0074b9;
    font-size: 15pt;
    padding: 10px 10px 10px 10px;
    text-align: justify;
}

#container-curriculo ul {
    list-style: none;
    padding: 0;
}

#container-trabalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
}

#img-trabalho {
    width: 450px;
    height: 300px;
    border-radius: 5%;
    margin-top: 70px
}

#texto-trabalho {
    margin-right: 25px;
    color: #0074b9;
    font-size: 15pt;
    text-align: justify;
}

#inscricao div.row{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
 }
 
#inscricao div.row-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

#inscricao div.row-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    size: 30;   
}

.button {
    background-color: #d45f68;
    font-size: 11pt;
}

#inscricao {
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 50px;
}

.tm-icone {
    width: 50px;
    height: 50px;
}
 
.p-30 {
    padding: 30px;
}
 
#container-footer {
    display: flex;
    justify-content: center;
}

#bg-footer {
    background-color: #d45f68;
    text-align: center;
}

footer p {
    color: white;
    font-size: 13pt;
}